@section Title{
    Product Detail
}

@section StyleSheet {
    <link rel="stylesheet" href="~/css/product-detail.css" />
}

@model Product

<h2>Product Page</h2>

<div class="product-row">
    <img class="product-img" src="~/images/@Model.ImageName" />
    <div class="product-info">
        <h3>

            @Model.Name

            @if (Model.IsTopSeller)
            {
                <img class="best-seller-tag" src="~/images/best-seller.png" />
            }

        </h3>

        <p>by @Model.Manufacturer</p>

        @if (Model.AverageRating >= 5)
        {
            <img class="avg-rating-img" src="~/images/5-star.png" />
        }
        else if (Model.AverageRating >= 4)
        {
            <img class="avg-rating-img" src="~/images/4-star.png" />
        }
        else if (Model.AverageRating >= 3)
        {
            <img class="avg-rating-img" src="~/images/3-star.png" />
        }
        else if (Model.AverageRating >= 2)
        {
            <img class="avg-rating-img" src="~/images/2-star.png" />
        }
        else if (Model.AverageRating >= 1)
        {
            <img class="avg-rating-img" src="~/images/1-star.png" />
        }
        @if (Model.RemainingStock <= 3)
        {
            <p class="remaining-stock-tag">Only @Model.RemainingStock left!</p>
        }

        <p class="product-price">Price: @Model.Price.ToString("C")</p>
        <p><span style="font-weight:bold">Weight</span> @Model.WeightInLbs Ibs</p>
        <p id="product-description"><span style="font-weight: bold;">Description: </span>@Model.Description</p>
    </div>
</div>